# Files and folders ignored by git

# Spaceshooter and project files :
/SpaceShooter
/Spaceshooter
.vscode/
*.o
*.sav
*.txt

# Ignore CMake Files :
.CMakeFiles/
/cmake*
/CMake*
/Makefile
!/CMakeLists.txt
!/cmake_modules
